.page-container {
    width: 80%;
    margin: 0 auto;
}

.map {
    height: 100vw;
    width: 100vw;
  }

.new-route-form {
    display: flex;
    
    .route-details-container {
        width: 50vw;
    }
    .map-container {
        width: 50vw;
    }
}

.checkbox-group {
    display: flex;
}

.route-detail-container {
    display: flex;

    .route-data-container {
        width: 50vw;
    
        .route-data {
            display: flex;
            justify-content: space-between;
            width: 80%;
            &__name {
                font-size: 1.5em;
            }
    
            &__item {
                font-weight: bold;            
            }
        }
    }
    
    
    
    .map-container {
        width: 50vw;
    }

}